.FlyerGallery {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 100%;
    margin: 0 auto; 
    background-color: rgba(240, 128, 128, 0.95);
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 76vh;
    overflow-y: auto;
    border: solid;
}

.image-wrapper {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-image {
    max-width: 100%;
    max-height: 100%;
    transform: scale(2);
  }

  .sort-container {
    position: absolute;
    top: 0px;
    right: 5px;
    text-align: right;
    }
  .sort-container label {
    font-size: medium;
  }


    @media (max-width: 900px) {
      .FlyerGallery {
        grid-template-columns: repeat(1, 1fr);
      }
    }