.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}

.barchive-header {
  text-align: center;
}

.barchive-header img {
  width: 50%;
  height: auto;
}
